{{!-- Basic Layout --}}
<html>
  <head>
    <title>
      {{{title}}}
    </title>

    <link rel="icon" href="/images/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/pages.css" type="text/css" />
  </head>
  <body>
    {{{body}}}
    <footer>
      Created By : Nikita Nandani |
      <a href="mailto:nikitann2501@gmail.com">
        Contact Designer
      </a>
    </footer>
  </body>
</html>