{{!-- Admin Dashboard --}}
<link rel="stylesheet" href="/adminPage.css" type="text/css">
<script src="/adminPage.js"></script>

<body onload="checkLists()">

    <div class="bg">
        <h1>Welcome to Admin Panel</h1>
    </div>
    <a href="http://localhost:3050/" target="_blank" class="home">Home Page</a>
    <a href="http://localhost:3050/registerDesigner" target="_blank" class="designer">Register Designer</a>
    <br>
    <br>
    <h2>Manage Client Requests</h2>
    <div id="noRecords" style="visibility: hidden; display:none">
        No Pending Requests
    </div>
    <div id="main">
        <table id="clientTable">
            <thead>
                <th>Client's Name</th>
                <th>Remarks</th>
                <th>Phone No.</th>
                <th>Interested In Designer</th>
                <th>Designs For</th>
                <th>Contacted</th>
            </thead>
            <tbody>
        {{#each clients}}
        <tr name={{this._id}} id={{this._id}} >
            
            <td>{{this.name}}</td>
            <td>{{this.remarks }}</td>
            <td>{{this.contact }}</td>
            <td>{{this.des_name }}</td>
            <td>{{this.des_for}}</td>
            <td><input type="checkbox" onclick=clientContacted("{{this._id}}")></td>
        </tr>
        {{/each}}
    </tbody>
        </table>
    </div>
    