{{!-- Client Request Successfully Sent Page --}}
<div class="bg">
  <h1 class="request">
    Your request is successful. You will be contacted soon by the designer. 
Happy Designing :)
  </h1>
</div>
<a href="http://localhost:3050/" class="home">
  Home Page
</a>
<a href="http://localhost:3050/registerDesigner" class="designer">
  Register Designer
</a>
<br />
<br />