{{!-- Client Request Page --}}
<div class="bg">
  <h1>
    Send Contact Request To Designer
  </h1>
</div>

<a href="http://localhost:3050/" target="_blank" class="home">
  Home Page
</a>
<a href="http://localhost:3050/registerDesigner" target="_blank" class="designer">Register Designer</a>
<br />
<br />
<form id="clientForm" method="POST" action="des/client">
  <div>
    <table>
      <tr>
        <td>
          <label for="cName">
            Name
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" name="cName" id="cName" autofocus />
        </td>
      </tr>
      <tr>
        <td>
          <label for="cPhone">
            Contact No.
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" maxlength="10" name="cPhone" id="cPhone" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="cEmail">
            Email ID
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" name="cEmail" id="cEmail" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="cLocation">
            Location
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <select name="cLocation" id="cLocation">
            <option value="Other City" selected hidden>
              Select City
            </option>
            <option value="Delhi">
              Delhi
            </option>
            <option value="Kolkata">
              Kolkata
            </option>
            <option value="Chennai ">
              Chennai
            </option>
            <option value="Hyderabad">
              Hyderabad
            </option>
            <option value="Mumbai">
              Mumbai
            </option>
            <option value="Bhopal">
              Bhopal
            </option>
            <option value="Other City">
              Other City
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <label for="cRemarks">
            Remarks
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <textarea
            name="cRemarks"
            id="cRemarks"
            placeholder="Add comments (if any) "
          ></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input
            type="submit"
            name="btnClientRegSubmit"
            id="btnClientRegSubmit"
            value="Register"
            onclick="regClient()"
          />
        </td>
      </tr>
    </table>
  </div>
</form>

<script src="/client.js"></script>