{{!-- Designer Registration Page --}}

<div class="bg">
  <h1>
    Register Designer
  </h1>
</div>
<a href="http://localhost:3050/" target="_blank" class="home">Home Page</a>
<br>
<br>
<form
  id="designerForm"
  method="post"
  action="/designer"
  enctype="multipart/form-data"
>
  <div>
    <table>
      <tr>
        <td>
          <label for="dName">
            Name
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" name="dName" id="dName" autofocus />
        </td>
        <td id="errorHolder"></td>
      </tr>
      <tr>
        <td>
          <label for="dName">
            Designing For
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="checkbox" name="designs" id="dDesHome" value="Home" />
          Home
          <input type="checkbox" name="designs" id="dDesOffc" value="Office" />
          Office
          <input type="checkbox" name="designs" id="dDesParty" value="Party" />
          Party
          <input type="checkbox" name="designs" id="dDesEvent" value="Event" />
          Event
        </td>
      </tr>
      <tr>
        <td>
          <label for="dPhone">
            Contact No.
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" maxlength="10" name="dPhone" id="dPhone" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="dEmail">
            Email ID
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" name="dEmail" id="dEmail" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="dLocation">
            Location
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <select name="dLocation" id="dLocation">
            <option value="Other City" selected hidden>
              Select City
            </option>
            <option value="delhi">
              Delhi
            </option>
            <option value="kolkata">
              Kolkata
            </option>
            <option value="chennai">
              Chennai
            </option>
            <option value="hyderabad">
              Hyderabad
            </option>
            <option value="mumbai">
              Mumbai
            </option>
            <option value="bhopal">
              Bhopal
            </option>
            <option value="Other City">
              Other City
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Upload Image
        </td>
        <td>
          :
        </td>
        <td>
          <input type="file" name="desImage" id="desImage" required />
        </td>
      </tr>
      <tr>
        <td>
          <label for="dRemarks">
            Remarks
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <textarea
            name="dRemarks"
            id="dRemarks"
            placeholder="Add comments (if any)"
          ></textarea>
        </td>
      </tr>
      <!-- <tr>
                    <td colspan="3"></td>
                </tr> -->
      <tr>
        <td colspan="3">
          <input
            type="submit"
            name="btnDesRegSubmit"
            id="btnDesRegSubmit"
            value="Register"
          />
        </td>
      </tr>
    </table>
  </div>
</form>

<script src="/designer.js"></script>