{{!-- Error Page --}}
<div class="bg">
    <h1>Something went wrong!</h1>
</div>
<a href="http://localhost:3050/" target="_blank" class="home">
  Home Page
</a>
<a
  href="http://localhost:3050/registerDesigner" target="_blank" class="designer"
>
  Register Designer
</a>
<br />
<br />
<div class="errorA">
    Please Try Again After Sometime.
    <a href="http://localhost:3050/">Go to Home Page</a>
</div>