{{!-- Home Page --}}
<link rel="stylesheet" href="/homepage.css" type="text/css" />
<script src="/homepage.js"></script>

<div class="bg">
  <h1 class="heading">
    JerryPearl Decors
  </h1>
  <p class="para">
    Welcome to a new Designing world, JerryPearl Decors. We provide a complete solution for your designing dilemma. From interior designing to event organisation, we have every kind of designers who can make your daily living or working environment peaceful, exciting, fun or as whatever you wish for.
    <br />
    So without any further delay,<span> SCROLL </span>and checkout our experienced and skilled designers and book their time for making
            your place creative! Happy Designing. :)
  </p>
</div>
<br />
<a href="http://localhost:3050/login" class="admin">
  Admin Login
</a>
<div id="tableDiv">
  <table id="designerTable">
    <thead>
      <th>
        Pictures
      </th>
      <th>
        Designer's Name
      </th>
      <th>
        Location
      </th>
      <th>
        Designs For
      </th>
      <th>
        Interested?
      </th>
    </thead>

    <tbody>
      {{#each designerList}}
        <tr>
          <td class="imgTd">
            <img src="{{this.desImage}}" width="150" height="150" />
          </td>
          <td class="textTd">
            {{this.name}}
          </td>
          <td class="textTd">
            {{this.location}}
          </td>
          <td class="textTd">
            {{this.designsFor}}
          </td>
          <td class="textTd">
            <a href="/reg/{{this._id}}" target="_blank">
              Contact
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>