{{!-- Login page --}}
<link rel="stylesheet" href="/loginPage.css" type="text/css" />
<div class="bg">
  <h1>
    Admin Login
  </h1>
</div>

<div id="errMsg">{{errMsg}}</div>

<form method="POST" action="/admin">
  <div class="login">
    <table>
      <tr>
        <td>
          <label for="uname">
            User Name
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="text" name="uname" id="uname" required autofocus />
        </td>
      </tr>
      <tr>
        <td>
          <label for="pass">
            Password
          </label>
        </td>
        <td>
          :
        </td>
        <td>
          <input type="password" name="pass" id="pass" required />
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <br />
          <input type="submit" name="btnSubmit" id="btnSubmit" value="Login" />
        </td>
      </tr>
    </table>
  </div>
</form>