{{!-- Page Not Found --}}
<div class="bg">
  <h1>
    Page Not Found!
  </h1>
</div>
<a href="http://localhost:3050/" target="_blank" class="home">
  Home Page
</a>
<a
  href="http://localhost:3050/registerDesigner" target="_blank" class="designer"
>
  Register Designer
</a>
<br />
<br />
<div class="errorA">
  The page you are looking for is unavailable. Please try with a valid url address.
  <br />
  <a href="http://localhost:3050/">
    Go to Home Page
  </a>
</div>