{{!-- Designer Registration Successful --}}
<div class="bg">
  <h1 class="request">
    Designer Successfully Registered. :)
  </h1>
</div>
<a href="http://localhost:3050/" class="home">
  Home Page
</a>
<a href="http://localhost:3050/login" class="designer">
  Register Designer
</a>
<br />
<br />