

h2 {
    font-size: 24px;
    margin: 25px 0px 0px 10px;
    color: rgb(41, 136, 133);
}

#noRecords {
    margin: 45px;
    font-size: 25px;
    color: red;
    font-style: italic;
    font-weight: bold;
}

