.bg {
    height: 100%;
}

h1 {
    float: right;
    padding-right: 10px;
    color: yellow;
    font-size: 95px;
}

.bg p {
    box-sizing: border-box;
    padding-top: 300px;
    padding-left: 20%;
    text-align: justify;
    font-size: 22px;
    width: 980px;
    color: rgb(236, 175, 185);
    /* font-weight: bold; */
    font-family: "Fruktur", cursive;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
}

a {
    text-decoration: none;
    color: rgb(48, 92, 5);
    font-weight: bold;
}

.admin {
    float: right;
    padding-right: 10px;
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
}

.admin:hover {
    text-decoration: underline;
    text-decoration-color: chocolate;
    font-family: "Fruktur", cursive;
    color: rgb(22, 145, 32);
    letter-spacing: 0.1em;
    font-size: 24px;
}

.imgTd {
    text-align: center;
    padding-top: 3px;
}

table,
thead,
tbody,
th,
tr,
td {
    box-sizing: border-box;
}

.textTd {
    font-size: 30px;
    text-align: center;
    position: relative;
    bottom: 70px;
}

@media screen and (max-width: 900px) {
    .heading {
        font-size: 150%;
    }
    .bg {
        height: 50%;
    }
    .bg p {
        font-size: 70%;
        position: relative;
        bottom: 80%;
        width: 70%;
        color: coral;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
}

@media screen and (max-width: 600px) {
    .bg {
        width: 100%;
    }
    .para {
        display: none;
        visibility: hidden;
    }
}

span {
    color: yellow;
}