.login {
    margin-top: 10px;
    margin-left: 15%;
    padding-top: 15px;
    border: 3px solid mediumturquoise;
    width: 70%;
    border-radius: 15px;
}

input[type="submit"] {
    width: 282px;
}

#errMsg {
    color: red;
    font-size: 24px;
    text-align: center;
}