/* Common CSS Rules applied to all html Pages */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dancing+Script&family=Fruktur&family=Irish+Grover&display=swap");
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("images/homeBg.jpg");
    /*height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    float: right;
    padding-right: 10px;
    color: yellow;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    letter-spacing: 0.08em;
    margin-right: 10px;
}

table {
    width: 90%;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 2%;
}

table,
tr,
thead,
tbody {
    border: solid 2px rgb(6, 134, 134);
    border-collapse: collapse;
    font-size: 23px;
}

th {
    color: midnightblue;
}

tbody {
    text-align: center;
}

td,
th {
    height: 25px;
    padding-right: 15px;
    padding-left: 15px;
}

footer {
    margin-top: 60px;
    padding-top: 10px;
    height: 55px;
    background-color: rgb(73, 156, 128);
    font-size: 36px;
    font-weight: bold;
    color: yellow;
    text-align: center;
    font-family: "Caveat", cursive;
}

footer a {
    color: yellow;
    text-decoration: none;
}

footer a:hover {
    color: rgba(0, 225, 255, 0.76);
}

input,
select,
textarea {
    margin-top: 2px;
    margin-bottom: 2px;
    border: solid 2px mediumturquoise;
    border-radius: 5px;
}


/* 
select {
  width: 42%;
} */

input[type="text"],
input[type="file"],
textarea,
select {
    width: 55%;
}

input[type="submit"] {
    width: 25%;
    height: 40px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: mediumturquoise;
    color: white;
}

form tr {
    border-color: white;
}

form div {
    border: 3px solid mediumturquoise;
    border-radius: 15px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.errorA {
    position: relative;
    top: 20px;
    padding-left: 10px;
    font-size: 30px;
}

.request {
    box-sizing: border-box;
    float: left;
    position: relative;
    left: 25%;
    top: 30%;
    width: 75%;
}

@media screen and (max-width: 900px) {
    .request {
        width: 50%;
        font-size: 200%;
    }
}

@media screen and (max-width: 600px) {
    .request {
        width: 100%;
    }
}

.designer, .home {
    float: right;
    margin-top: 15px;
    padding-right: 10px;
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
}

.designer:hover,
.home:hover {
    text-decoration: underline;
    text-decoration-color: chocolate;
    font-family: "Fruktur", cursive;
    color: rgb(22, 145, 32);
    letter-spacing: 0.1em;
    font-size: 24px;
}
.home {
    float: left;
    margin-left: 10px;
}